@import "tailwindcss";
 th,td{
    width: 1200px;
    padding: 20px;
    border: 1px solid white;
    min-height: 20px;
    height: auto;
    overflow: auto;
    
}
td{
    text-align: center;
}
input{
    border: 1px solid white;
    padding: 2px;
    border-radius: 8px;
}
input::placeholder{
    background-color: aqua;
}
/* In your global CSS file (e.g., index.css) */
::-webkit-scrollbar {
  width: 6px; /* slim scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* no track color */
}

::-webkit-scrollbar-thumb {
  background-color: white; /* white scrollbar */
  border-radius: 10px;
}
*{
    scroll-behavior: smooth;
}